@import url("https://fonts.googleapis.com/css2?family=Imbue:opsz,wght@10..100,100..900&family=Marcellus+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quattrocento:wght@400;700&display=swap");

.marcellus-sc-regular {
  font-family: "Marcellus SC", serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1550px !important;
}

.marcellus-sc-sm {
  font-family: "Marcellus SC", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 15px;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: rgb(0, 0, 0);
}

.desc-t {
  font-weight: 600;
  font-size: 15px;
  color: #000000;
}

.flex-j-s {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-j-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-bg {
  background-image: url(assets/grainy.png);
}

.container {
  max-width: 1450px;
}

.mar-nav {
  margin-top: 300px;
}

.pad-sec2 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.bg-sec {
  background-color: rgb(64, 33, 99);
}

.proj-text {
  font-family: "Roboto Condensed";
  color: rgb(0, 0, 0) !important;
  font-weight: 500;
  font-size: 26px;
  letter-spacing: 2px;
}

.a-button {
  display: flex;
  align-items: center;
}

.align-c {
  display: flex;
  align-items: center;
}

.btn-view {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  height: 70px !important;
  background-color: #00a59200 !important;
  border-radius: 0px !important;
  border-color: #fff;
  border-width: 1px;
  color: #ffffff !important;
  font-weight: 400 !important;
  text-align: center !important;
  outline: none;
  font-size: 15px !important;
  font-family: "Roboto Condensed";
  &:hover {
    color: #181818 !important;
    background-color: #b0ff39 !important;
    border-color: #ffffff00;
    font-weight: 600 !important;
  }
}

.nav-items {
  font-family: "Marcellus SC", serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
}

.c-study-sm {
  font-family: "Courier New", Courier, monospace;
  color: rgb(255, 255, 255) !important;
  font-weight: 300;
  font-size: 15px;
  text-decoration: none;
}

.case-study {
  font-family: "Nunito Sans", sans-serif;
  color: rgb(203, 255, 99) !important;
  font-weight: 100;
  font-size: 15px;
  letter-spacing: 1px;
  text-decoration: none;
}

.box1 {
  background-color: #b34b0e;
}

.box2 {
  background-color: #bbbbbb;
  height: 400px;
  /* background-color: #262c35; */
}

.box3 {
  background-color: #d2d2d2;
  height: 300px;
}

.gap {
  height: 80%;
}

.title {
  font-size: 300px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -1px;
  line-height: 0.8;
  margin-top: 70px;
  color: rgb(254, 171, 255);
}

.n-bor {
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.bor-mid {
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.center {
  margin: auto;
  width: 60%;
}

.w-box {
  width: 600px;
  margin-left: 120px;
  margin-right: 120px;
}

.portfolio {
  display: flex;
  justify-content: center;
  font-size: 260px;
  font-family: "Imbue", serif;
  font-weight: 500;
  font-style: normal;
  /* letter-spacing: 10px; */
  line-height: 0.8;
  margin-top: 190px;
  padding-bottom: 350px;
  color: #000000;
}

.p-top-break {
  padding-top: 200px;
}

.p-bot-break {
  padding-bottom: 200px;
}

.project-h {
  display: flex;
  justify-content: center;
  font-size: 170px;
  font-family: "Imbue", serif;
  font-weight: 500;
  font-style: normal;
  /* letter-spacing: 10px; */
  line-height: 0.8;
  margin-top: 170px;
  padding-bottom: 80px;
}

.imbue {
  font-family: "Imbue", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
}

.proj-txt {
  display: flex;
  justify-content: center;
  font-size: 130px;
  font-family: "Imbue", serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 10px;
  line-height: 0.8;
  margin-top: 70px;
  padding-bottom: 80px;
}

.desc {
  font-family: "DM Sans Variable";
  color: rgb(0, 0, 0);
  font-weight: 200;
  font-size: 228px;
  margin-top: 200px;
  display: flex;
  margin-right: auto;
}

.img-w {
  width: 100%;
  max-width: 1400px;
}

.cursorsm {
  cursor: none;
}

.small {
  background-color: #fff;
  mix-blend-mode: difference;
  width: 150px;
  height: 150px;
  border: 2px solid #fff;
  border-radius: 50%;
}

@media (max-width: 600px) {
  .portfolio {
    font-size: 70px;
  }
  .mar-nav {
    margin-top: 201px;
  }
  .title {
    font-size: 100px;
    margin-top: 0px;
  }
  .h {
    font-size: 60px;
  }
  .btn-view {
    width: 50% !important;
  }
  .a-button {
    margin-top: 20px;
  }
}
